body {
    font-family: sans-serif;
    background-color: cornflowerblue;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
h1, h2 {
    color: gray;

}

h1 {
    border-bottom: 1px solid black;
}
p {
    background-color: cadetblue;
    border: 1px solid gray;
}

em {
    font-family: italic;
}

p.zielonaherbata {
    color: green;
}

p.borowka {
    color: blue;
}
p.malina {
    color: purple;
}